# Redirect webmail/iredadmin to HTTPS
location ~ ^/mail { rewrite ^ https://$host$request_uri?; }
location ~ ^/mail/index.php$ { rewrite ^ https://$host/mail/; }
location ~ ^/iredadmin { rewrite ^ https://$host$request_uri?; }
